/* 
  全局样式表
*/

html,
body,
#app{
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 1374px;
  font-size: 0;
}

.btn_inline{
  display: inline-block;
}

.el-step__title{
  font-size: 13px;
}

.ql-editor{
  min-height: 300px;
}

.upload-demo{
  margin-bottom: 15px;
}

.zk-table__cell-inner{
  display: flex;
  align-items: center;
}